## Temporal and spatial equity

One of the main criticism faces by integrated assesmment models is that of the temporal equity. Indeed, optimisation models need to be able to compare decisions to select the optimal one among a set of possibilities. This includes comparing decisions that have an effect now and others that have an effect later. A way to compare future impacts of climate change with current investment, for example, is by discounting the future value of these impacts in the way they are accounted for in the present. This reflects the preference for present benefits over futur ones.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Temporal equity

### Spatial equity

In [19]:
import xarray as xr
import pandas as pd
import geopandas as gpd

variables = pd.read_csv('../../../variables.csv')

variables['Real Name'] = variables['Real Name'].str.replace('"', '')
variables['Model'] = variables['Real Name'].str.split(':').str[0]
variables['Equation'] = variables['Real Name'].str.split(':').str[1]
variables.loc[variables['Equation'].isnull(), 'Model'] = None

variables

,Unnamed: 0,Real Name,Py Name,Subscripts,Units,Limits,Type,Subtype,Comment,Model,Equation
0,0,1975 1995 temp change lt,nvs_1975_1995_temp_change_lt,NaN,DegreesC,"(nan, nan)",Lookup,External,Historic Temperature change from GISS NASA fro...,None,NaN
1,1,COAL PRICE HISTORICAL $/t,coal_price_historical_t,NaN,$/t,"(nan, nan)",Auxiliary,with Lookup,Average Coal price of for each year based on t...,None,NaN
2,2,Cu demand incl. semi product demand,cu_demand_incl_semi_product_demand,NaN,Mt/Years,"(nan, nan)",Auxiliary,Normal,Copper demand reported is not accounting for t...,None,NaN
3,3,DN\_fibre,dn_fibre,['REGIONS 9 I'],g/kcal,"(nan, nan)",Auxiliary,Normal,NaN,None,NaN
4,4,FUND: A.2: DELAYED agricultural impact of the ...,fund_a2_delayed_agricultural_impact_of_the_rat...,['REGIONS 35 I'],NaN,"(nan, nan)",Stateful,DelayFixed,NaN,FUND,A.2
...,...,...,...,...,...,...,...,...,...,...,...
4911,4911,yields industrial crops R and I,yields_industrial_crops_r_and_i,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Stateful,Integ,Yields of crops cultivated with industrialized...,None,NaN
4912,4912,yields of crops all managements,yields_of_crops_all_managements,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Auxiliary,Normal,Agricultural yields. It combines the effect of...,None,NaN
4913,4913,yields of irrigated crops,yields_of_irrigated_crops,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Auxiliary,Normal,yields of irrigated crops only used when SWITC...,None,NaN
4914,4914,yields of rainfed crops,yields_of_rainfed_crops,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Auxiliary,Normal,yields of rainfed crops only used when SWITCH_...,None,NaN
4915,4915,yields rainfed industrial,yields_rainfed_industrial,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Stateful,Integ,"yields of rainfed industrial crops, estimation...",None,NaN

In [14]:
variables

,Unnamed: 0,Real Name,Py Name,Subscripts,Units,Limits,Type,Subtype,Comment,Model,Equation
0,0,"""1975 1995 temp change lt""",nvs_1975_1995_temp_change_lt,NaN,DegreesC,"(nan, nan)",Lookup,External,Historic Temperature change from GISS NASA fro...,"""1975 1995 temp change lt""",NaN
1,1,"""COAL PRICE HISTORICAL $/t""",coal_price_historical_t,NaN,$/t,"(nan, nan)",Auxiliary,with Lookup,Average Coal price of for each year based on t...,"""COAL PRICE HISTORICAL $/t""",NaN
2,2,"""Cu demand incl. semi product demand""",cu_demand_incl_semi_product_demand,NaN,Mt/Years,"(nan, nan)",Auxiliary,Normal,Copper demand reported is not accounting for t...,"""Cu demand incl. semi product demand""",NaN
3,3,"""DN\_fibre""",dn_fibre,['REGIONS 9 I'],g/kcal,"(nan, nan)",Auxiliary,Normal,NaN,"""DN\_fibre""",NaN
4,4,"""FUND: A.2: DELAYED agricultural impact of the...",fund_a2_delayed_agricultural_impact_of_the_rat...,['REGIONS 35 I'],NaN,"(nan, nan)",Stateful,DelayFixed,NaN,"""FUND",A.2
...,...,...,...,...,...,...,...,...,...,...,...
4911,4911,yields industrial crops R and I,yields_industrial_crops_r_and_i,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Stateful,Integ,Yields of crops cultivated with industrialized...,yields industrial crops R and I,NaN
4912,4912,yields of crops all managements,yields_of_crops_all_managements,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Auxiliary,Normal,Agricultural yields. It combines the effect of...,yields of crops all managements,NaN
4913,4913,yields of irrigated crops,yields_of_irrigated_crops,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Auxiliary,Normal,yields of irrigated crops only used when SWITC...,yields of irrigated crops,NaN
4914,4914,yields of rainfed crops,yields_of_rainfed_crops,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Auxiliary,Normal,yields of rainfed crops only used when SWITCH_...,yields of rainfed crops,NaN
4915,4915,yields rainfed industrial,yields_rainfed_industrial,"['REGIONS 9 I', 'LAND PRODUCTS I']",t/(km2*Year),"(nan, nan)",Stateful,Integ,"yields of rainfed industrial crops, estimation...",yields rainfed industrial,NaN

In [7]:
data = xr.open_dataset('../../../results/results_run_2040.nc')