In [2]:
import pandas as pd

In [2]:
def read_markdown_file(file_path):
    with open(file_path, 'r') as f:
        content = f.read()

    # Split the content by the markdown table titles
    sections = content.split('##')

    # Create lists to store the titles and tables
    title = []
    table = []

    # Loop through the sections and split the tables from the titles
    for section in sections:
        title.append(section.split('\n')[0])
        table.append(section.split('\n')[1:])

    df = pd.DataFrame(list(zip(title, table)), columns=['Title', 'Table'])  

    return df


markdown_content = read_markdown_file('tables.md')
print(markdown_content)

                                                Title  \
0                                            # Tables
1                        Table R: The regions in FUND
2                Table P.FUND: Population; 2000 = 100
3                Table P.A1B: Population; 2000 = 100.
4                 Table P.A2: Population; 2000 = 100.
5                 Table P.B1: Population; 2000 = 100.
6                 Table P.B2: Population; 2000 = 100.
7          Table Y.FUND: Per capita income; 2000=1.00
8          Table Y.A1: Per capita income; 2000 = 1.00
9          Table Y.A2: Per capita income; 2000 = 1.00
10         Table Y.B1: Per capita income; 2000 = 1.00
11         Table Y.B2: Per capita income; 2000 = 1.00
12    Table AEEI.FUND: Energy efficiency; 2000 = 1.00
13     Table AEEI.A1B: Energy efficiency; 2000 = 1.00
14      Table AEEI.A2: Energy efficiency; 2000 = 1.00
15      Table AEEI.B1: Energy efficiency; 2000 = 1.00
16      Table AEEI.B2: Energy efficiency; 2000 = 1.00
17    Table ACEI.FUND: Energy efficiency; 2000 = 1.00
18     Table ACEI.A1B: Energy efficiency; 2000 = 1.00
19      Table ACEI.A2: Energy efficiency; 2000 = 1.00
20      Table ACEI.B1: Energy efficiency; 2000 = 1.00
21      Table ACEI.B2: Energy efficiency; 2000 = 1.00
22   Table CO2F.FUND: Carbon dioxide emissions fro...
23   Table CO2F.A1B: Carbon dioxide emissions from...
24   Table CO2F.A2: Carbon dioxide emissions from ...
25   Table CO2.B1: Carbon dioxide emissions from l...
26   Table CO2F.B2: Carbon dioxide emissions from ...
27           Table CH4: Methane emissions; 2000 = 100
28     Table N2O: Nitrous oxide emissions; 2000 = 100
29   Table OC: Parameters of the methane and nitro...
30         Table SF6: Determinants of SFâ‚† emissions
31              Table C: Parameters of equation (C.1)
32   Table RT: Regional temperature conversion factor
33   Table A: Impacts of climate change on agricul...
34   Table EFW: Impact of a 1Â°C warming on forest...
35                Table SLR: Impact of sea level rise
36              Table I: Migration from row to column
37   Table HD:Â Diarrhoea mortality and morbidity ...
38    Table HV: Parameters for vector-borne mortality
39          Table HC.1: Parameters of Equation (HC.1)
40   Table HC.2: Parameters of Equation (HC.2) for...
41   Table HC.3: Parameters of Equation (HC.2) for...
42   Table HC.4: Parameters of Equation (HC.2) for...
43   Table HM: Ratio of morbidity impacts (measure...
44   Table TS: Current impact of tropical cyclones...
45   Table ETS: Current impact of extra tropical c...
46   Table MC: Parameters of the analysis (Î¼: exp...

                                                Table
0                                                [, ]
1   [, | Code | Name                       | Count...
2   [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
3   [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
4   [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
5   [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
6   [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
7   [, | Year | USA   | CAN   | WEU   | JPK   | AN...
8   [, | Year | USA   | CAN   | WEU   | JPK   | AN...
9   [, |Year | USA   | CAN   | WEU   | JPK   | ANZ...
10  [, | Year  | USA   | CAN   | WEU   | JPK   | A...
11  [, | Year | USA   | CAN   | WEU   | JPK   | AN...
12  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
13  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
14  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
15  [, | Year | USA   | CAN   | WEU   | JPK   | AN...
16  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
17  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
18  [, | Year | USA   | CAN   | WEU   | JPK   | AN...
19  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
20  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
21  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
22  [, | Year | USA | CAN | WEU | JPK | ANZ | EEU ...
23  [, | Year | USA | CAN | WEU | JPK | ANZ | EEU ...
24  [, | Year | USA | CAN | WEU | JPK | ANZ | EEU ...
25  [, | Year | USA | CAN | WEU | JPK | ANZ | EEU ...
26  [, | Year | USA | CAN | WEU | JPK | ANZ | EEU ...
27  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
28  [, | Year | USA  | CAN  | WEU  | JPK  | ANZ  |...
29  [, | Region |  Methane                     | N...
30  [, | Year | C                       | GDP     ...
31  [, | Gas                        | ``\alpha^\te...
32  [, |Region | Factor |, |-------|--------|, |US...
33  [, | Region | Rate of change (% Ag. Prod/ 0.04...
34  [, | Region | Forestry               | Water  ...
35  [, | Region  | Î´                    | Î³     ...
36  [, | -    | USA      | CAN      | WEU      | J...
37  [, | Region | Populationáµƒ | Mortalityáµ‡ | M...
38  [, | Region | Malaria (Baseáµƒ) | Malaria (Imp...
39  [, | -              | -    | -   | Constant  |...
40  [, | -     | 65-        | -           | -     ...
41  [, | -     | 65-      | -         | -         ...
42  [, | -   | Linear   | -         | Quadratic | ...
43  [, | -    | Malaria  | Schistosomiasis  | Deng...
44  [, | -    | Damage       | Mortality   |, |---...
45  [, | -    | Î±           | Î´    | Î²         ...
46  [, | Parameter                                ...

In [7]:
for line in markdown_content.iterrows():

    # Extracting the table name and the table content
    table_name = line[1]['Title']
    file_name = table_name.split(':')[0].strip().replace(' ', '_').lower()
    table = line[1]['Table']

    # Extracting the header (columns) and the data
    header = table[1].split('|')[1:-1]
    print('Header :' +str(header) + str(type(header)))
    data = table[3:-2]
    values = [line.split('|')[1:-1] for line in data]

    try: 

        # export df to csv with FUND regions
        df = pd.DataFrame(values, columns=header)
        df = df.fillna(0)
        df.to_csv(f'output\{file_name}.csv', index=False)
        print(f'Saved output\\fund_{file_name}.csv')

        # export df to csv with WILIAM regions
        wiliam_output = FUND_to_WILIAM(df)
        wiliam_output = wiliam_output.fillna(0)
        wiliam_output.to_excel(f'output\wiliam_{file_name}.xlsx')
    except Exception as e:
        print('Error for table: ', line[1]['Title'], e)
    print(df)

<string>:19: SyntaxWarning: invalid escape sequence '\{'
<>:19: SyntaxWarning: invalid escape sequence '\{'
<>:25: SyntaxWarning: invalid escape sequence '\w'
<string>:19: SyntaxWarning: invalid escape sequence '\{'
<>:19: SyntaxWarning: invalid escape sequence '\{'
<>:25: SyntaxWarning: invalid escape sequence '\w'
C:\Users\gabriel.genelot\AppData\Local\Temp\ipykernel_25048\3872861123.py:19: SyntaxWarning: invalid escape sequence '\{'
  df.to_csv(f'output\{file_name}.csv', index=False)
C:\Users\gabriel.genelot\AppData\Local\Temp\ipykernel_25048\3872861123.py:25: SyntaxWarning: invalid escape sequence '\w'
  wiliam_output.to_excel(f'output\wiliam_{file_name}.xlsx')

Header :[]<class 'list'>
Saved output\fund_#_tables.csv
Could not find values for AUSTRIA : WEU
Could not find values for BELGIUM : WEU
Could not find values for BULGARIA : CEE
Could not find values for CROATIA : CEE
Could not find values for CYPRUS : WEU
Could not find values for CZECHIA : nan
Could not find values for DENMARK : WEU
Could not find values for ESTONIA : FSU
Could not find values for FINLAND : WEU
Could not find values for FRANCE : WEU
Could not find values for GERMANY : WEU
Could not find values for GREECE : WEU
Could not find values for HUNGARY : CEE
Could not find values for IRELAND : WEU
Could not find values for ITALY : WEU
Could not find values for LATVIA : FSU
Could not find values for LITHUANIA : FSU
Could not find values for LUXEMBOURG : WEU
Could not find values for MALTA : WEU
Could not find values for NETHERLANDS : WEU
Could not find values for POLAND : CEE
Could not find values for PORTUGAL : WEU
Could not find values for ROMANIA : CEE
Could not find values for SLOVAKIA : CEE
Could not find values for SLOVENIA : CEE
Could not find values for SPAIN : WEU
Could not find values for SWEDEN : WEU
Could not find values for UK : nan
Could not find values for CHINA : nan
Could not find values for EASOC : nan
Could not find values for INDIA : nan
Could not find values for LATAM : nan
Could not find values for RUSSIA : nan
Could not find values for USMCA : nan
Could not find values for LROW : nan
Error for table:  # Tables cannot access local variable 'correct_direction' where it is not associated with a value
Empty DataFrame
Columns: []
Index: []
Header :[' Code ', ' Name                       ', ' Countries                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ']<class 'list'>
Saved output\fund_table_r.csv
Could not find values for AUSTRIA : WEU
Could not find values for BELGIUM : WEU
Could not find values for BULGARIA : CEE
Could not find values for CROATIA : CEE
Could not find values for CYPRUS : WEU
Could not find values for CZECHIA : nan
Could not find values for DENMARK : WEU
Could not find values for ESTONIA : FSU
Could not find values for FINLAND : WEU
Could not find values for FRANCE : WEU
Could not find values for GERMANY : WEU
Could not find values for GREECE : WEU
Could not find values for HUNGARY : CEE
Could not find values for IRELAND : WEU
Could not find values for ITALY : WEU
Could not find values for LATVIA : FSU
Could not find values for LITHUANIA : FSU
Could not find values for LUXEMBOURG : WEU
Could not find values for MALTA : WEU
Could not find values for NETHERLANDS : WEU
Could not find values for POLAND : CEE
Could not find values for PORTUGAL : WEU
Could not find values for ROMANIA : CEE
Could not find values for SLOVAKIA : CEE
Could not find values for SLOVENIA : CEE
Could not find values for SPAIN : WEU
Could not find values for SWEDEN : WEU
Could not find values for UK : nan
Could not find values for CHINA : nan
Could not find values for EASOC : nan
Could not find values for INDIA : nan
Could not find values for LATAM : nan
Could not find values for RUSSIA : nan
Could not find values for USMCA : nan
Could not find values for LROW : nan
Error for table:   Table R: The regions in FUND cannot access local variable 'correct_direction' where it is not associated with a value
      Code                          Name  \
0    USA     USA
1    CAN     Canada
2    WEU     Western Europe
3    JPK     Japan and South Korea
4    ANZ     Australia and New Zealand
5    CEE     Central and Eastern Europe
6    FSU     Former Soviet Union
7    MDE     Middle East
8    CAM     Central America
9    SAM     South America
10   SAS     South Asia
11   SEA     Southeast Asia
12   CHI     China plus
13   NAF     North Africa
14   SSA     Sub-Saharan Africa
15   SIS     Small Island States

                                            Countries
0    United States of America                     ...
1    Canada                                       ...
2   Andorra, Austria, Belgium, Cyprus, Denmark, Fi...
3    Japan, South Korea                           ...
4    Australia, New Zealand                       ...
5    Albania, Bosnia and Herzegovina, Bulgaria, Cr...
6    Armenia, Azerbaijan, Belarus, Estonia, Georgi...
7    Bahrain, Iran, Iraq, Israel, Jordan, Kuwait, ...
8    Belize, Costa Rica, El Salvador, Guatemala, H...
9    Argentina, Bolivia, Brazil, Chile, Colombia, ...
10   Afghanistan, Bangladesh, Bhutan, India, Nepal...
11   Brunei, Cambodia, East Timor, Indonesia, Laos...
12   China, Hong Kong, North Korea, Macau, Mongoli...
13   Algeria, Egypt, Libya, Morocco, Tunisia, West...
14   Angola, Benin, Botswana, Burkina Faso, Burund...
15   Antigua and Barbuda, Aruba, Bahamas, Barbados...
Header :[' Year ', ' USA  ', ' CAN  ', ' WEU  ', ' JPK  ', ' ANZ  ', ' EEU  ', ' FSU  ', ' MDE  ', ' CAM  ', ' SAM  ', ' SAS  ', ' SEA  ', ' CHI  ', ' NAF  ', ' SSA  ', ' SIS  ']<class 'list'>
Saved output\fund_table_p.fund.csv
Added column AUSTRIA from WEU
Added column BELGIUM from WEU
Could not find values for BULGARIA : CEE
Could not find values for CROATIA : CEE
Added column CYPRUS from WEU
Could not find values for CZECHIA : nan
Added column DENMARK from WEU
Added column ESTONIA from FSU
Added column FINLAND from WEU
Added column FRANCE from WEU
Added column GERMANY from WEU
Added column GREECE from WEU
Could not find values for HUNGARY : CEE
Added column IRELAND from WEU
Added column ITALY from WEU
Added column LATVIA from FSU
Added column LITHUANIA from FSU
Added column LUXEMBOURG from WEU
Added column MALTA from WEU
Added column NETHERLANDS from WEU
Could not find values for POLAND : CEE
Added column PORTUGAL from WEU
Could not find values for ROMANIA : CEE
Could not find values for SLOVAKIA : CEE
Could not find values for SLOVENIA : CEE
Added column SPAIN from WEU
Added column SWEDEN from WEU
Could not find values for UK : nan
Could not find values for CHINA : nan
Could not find values for EASOC : nan
Could not find values for INDIA : nan
Could not find values for LATAM : nan
Could not find values for RUSSIA : nan
Could not find values for USMCA : nan
Could not find values for LROW : nan
Error for table:   Table P.FUND: Population; 2000 = 100 cannot access local variable 'correct_direction' where it is not associated with a value
      Year     USA     CAN     WEU     JPK     ANZ     EEU     FSU     MDE  \
0    1950    0.57    0.44    0.79    0.60    0.49    0.70    0.62    0.25
1    1960    0.67    0.57    0.84    0.69    0.61    0.79    0.74    0.32
2    1970    0.75    0.68    0.91    0.79    0.73    0.86    0.83    0.43
3    1980    0.83    0.79    0.94    0.89    0.81    0.94    0.91    0.58
4    1990    0.91    0.89    0.97    0.96    0.87    0.99    0.99    0.80
5    2000    1.00    1.00    1.00    1.00    1.00    1.00    1.00    1.00
6    2010    1.06    1.06    1.01    1.07    1.11    1.01    1.00    1.23
7    2020    1.07    1.08    1.02    1.16    1.19    1.01    1.01    1.47
8    2030    1.08    1.09    1.03    1.20    1.24    1.02    1.01    1.67
9    2040    1.08    1.09    1.03    1.23    1.27    1.02    1.01    1.82
10   2050    1.07    1.08    1.02    1.25    1.30    1.01    1.01    1.94
11   2060    1.07    1.08    1.02    1.27    1.31    1.01    1.01    2.04
12   2070    1.06    1.07    1.01    1.28    1.32    1.00    1.00    2.15
13   2080    1.06    1.07    1.01    1.29    1.33    1.00    1.00    2.23
14   2090    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.27
15   2100    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.29
16   2110    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
17   2120    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
18   2130    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
19   2140    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
20   2150    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
21   2160    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
22   2170    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
23   2180    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
24   2190    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
25   2200    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
26   2210    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
27   2220    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
28   2230    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
29   2240    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
30   2250    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
31   2260    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
32   2270    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
33   2280    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
34   2290    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30
35   2300    1.06    1.07    1.01    1.30    1.34    1.00    1.00    2.30

       CAM     SAM     SAS     SEA     CHI     NAF     SSA     SIS
0    0.27    0.33    0.34    0.35    0.43    0.31    0.28    0.43
1    0.36    0.43    0.42    0.43    0.51    0.39    0.34    0.52
2    0.50    0.56    0.53    0.55    0.65    0.50    0.44    0.64
3    0.66    0.70    0.67    0.69    0.78    0.64    0.58    0.75
4    0.82    0.85    0.83    0.85    0.90    0.82    0.77    0.87
5    1.00    1.00    1.00    1.00    1.00    1.00    1.00    1.00
6    1.15    1.13    1.16    1.15    1.09    1.23    1.27    1.13
7    1.26    1.24    1.30    1.29    1.16    1.50    1.55    1.23
8    1.34    1.32    1.42    1.41    1.20    1.75    1.80    1.31
9    1.41    1.39    1.53    1.51    1.24    1.96    2.01    1.38
10   1.47    1.44    1.64    1.61    1.26    2.14    2.20    1.43
11   1.50    1.48    1.72    1.70    1.27    2.31    2.37    1.47
12   1.54    1.52    1.81    1.78    1.28    2.49    2.56    1.50
13   1.57    1.54    1.88    1.85    1.29    2.65    2.72    1.53
14   1.57    1.55    1.91    1.89    1.30    2.75    2.83    1.54
15   1.58    1.55    1.93    1.90    1.30    2.81    2.88    1.54
16   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
17   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
18   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
19   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
20   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
21   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
22   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
23   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
24   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
25   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
26   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
27   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
28   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
29   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
30   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
31   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
32   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
33   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
34   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
35   1.58    1.55    1.93    1.91    1.30    2.83    2.91    1.54
Header :[' Year ', ' USA  ', ' CAN  ', ' WEU  ', ' JPK  ', ' ANZ  ', ' EEU  ', ' FSU  ', ' MDE  ', ' CAM  ', ' SAM  ', ' SAS  ', ' SEA  ', ' CHI  ', ' NAF  ', ' SSA  ', ' SIS  ']<class 'list'>
Saved output\fund_table_p.a1b.csv
Added column AUSTRIA from WEU
Added column BELGIUM from WEU
Could not find values for BULGARIA : CEE
Could not find values for CROATIA : CEE
Added column CYPRUS from WEU
Could not find values for CZECHIA : nan
Added column DENMARK from WEU
Added column ESTONIA from FSU
Added column FINLAND from WEU
Added column FRANCE from WEU
Added column GERMANY from WEU
Added column GREECE from WEU
Could not find values for HUNGARY : CEE
Added column IRELAND from WEU
Added column ITALY from WEU
Added column LATVIA from FSU
Added column LITHUANIA from FSU
Added column LUXEMBOURG from WEU
Added column MALTA from WEU
Added column NETHERLANDS from WEU
Could not find values for POLAND : CEE
Added column PORTUGAL from WEU
Could not find values for ROMANIA : CEE
Could not find values for SLOVAKIA : CEE
Could not find values for SLOVENIA : CEE
Added column SPAIN from WEU
Added column SWEDEN from WEU
Could not find values for UK : nan
Could not find values for CHINA : nan
Could not find values for EASOC : nan
Could not find values for INDIA : nan
Could not find values for LATAM : nan
Could not find values for RUSSIA : nan
Could not find values for USMCA : nan
Could not find values for LROW : nan
Error for table:   Table P.A1B: Population; 2000 = 100. cannot access local variable 'correct_direction' where it is not associated with a value
      Year     USA     CAN     WEU     JPK     ANZ     EEU     FSU     MDE  \
0    1950    0.57    0.44    0.79    0.60    0.49    0.70    0.62    0.25
1    1960    0.67    0.57    0.84    0.69    0.61    0.79    0.74    0.32
2    1970    0.75    0.68    0.91    0.79    0.73    0.86    0.83    0.43
3    1980    0.83    0.79    0.94    0.89    0.81    0.94    0.91    0.58
4    1990    0.91    0.89    0.97    0.96    0.87    0.99    0.99    0.80
5    2000    1.00    1.00    1.00    1.00    1.00    1.00    1.00    1.00
6    2010    1.06    1.07    1.03    1.04    1.07    1.01    1.01    1.16
7    2020    1.11    1.12    1.07    1.08    1.12    1.02    1.02    1.26
8    2030    1.14    1.15    1.11    1.12    1.15    1.02    1.02    1.31
9    2040    1.16    1.18    1.13    1.14    1.18    1.01    1.01    1.33
10   2050    1.18    1.19    1.14    1.15    1.19    0.98    0.98    1.30
11   2060    1.19    1.20    1.15    1.16    1.20    0.95    0.94    1.24
12   2070    1.19    1.20    1.15    1.16    1.20    0.91    0.90    1.17
13   2080    1.20    1.21    1.16    1.17    1.21    0.87    0.86    1.07
14   2090    1.20    1.22    1.17    1.18    1.22    0.82    0.82    0.96
15   2100    1.21    1.22    1.17    1.18    1.22    0.78    0.78    0.87
16   2110    1.22    1.23    1.18    1.19    1.23    0.75    0.75    0.79
17   2120    1.23    1.24    1.19    1.20    1.24    0.72    0.72    0.72
18   2130    1.23    1.24    1.19    1.20    1.24    0.69    0.69    0.67
19   2140    1.24    1.25    1.20    1.21    1.25    0.67    0.67    0.63
20   2150    1.24    1.25    1.20    1.21    1.25    0.65    0.65    0.59
21   2160    1.24    1.25    1.20    1.21    1.25    0.64    0.64    0.56
22   2170    1.25    1.26    1.21    1.22    1.26    0.63    0.63    0.54
23   2180    1.25    1.26    1.21    1.22    1.26    0.62    0.62    0.53
24   2190    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
25   2200    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
26   2210    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
27   2220    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
28   2230    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
29   2240    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
30   2250    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
31   2260    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
32   2270    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
33   2280    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
34   2290    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52
35   2300    1.25    1.26    1.21    1.22    1.26    0.61    0.61    0.52

       CAM     SAM     SAS     SEA     CHI     NAF     SSA     SIS
0    0.27    0.33    0.34    0.35    0.43    0.31    0.28    0.43
1    0.36    0.43    0.42    0.43    0.51    0.39    0.34    0.52
2    0.50    0.56    0.53    0.55    0.65    0.50    0.44    0.64
3    0.66    0.70    0.67    0.69    0.78    0.64    0.58    0.75
4    0.82    0.85    0.83    0.85    0.90    0.82    0.77    0.87
5    1.00    1.00    1.00    1.00    1.00    1.00    1.00    1.00
6    1.19    1.18    1.14    1.12    1.09    1.20    1.23    1.17
7    1.40    1.38    1.23    1.21    1.18    1.41    1.45    1.37
8    1.57    1.54    1.29    1.27    1.23    1.58    1.62    1.53
9    1.69    1.67    1.30    1.28    1.24    1.70    1.75    1.65
10   1.78    1.75    1.28    1.26    1.22    1.79    1.84    1.74
11   1.80    1.78    1.21    1.20    1.16    1.81    1.86    1.76
12   1.80    1.77    1.14    1.13    1.09    1.81    1.86    1.76
13   1.75    1.72    1.05    1.03    1.00    1.75    1.80    1.70
14   1.66    1.63    0.94    0.93    0.90    1.67    1.71    1.62
15   1.58    1.55    0.85    0.84    0.82    1.59    1.63    1.54
16   1.51    1.48    0.77    0.76    0.74    1.51    1.55    1.47
17   1.44    1.42    0.71    0.70    0.68    1.45    1.49    1.41
18   1.39    1.37    0.66    0.65    0.63    1.40    1.43    1.36
19   1.34    1.32    0.61    0.60    0.59    1.35    1.39    1.31
20   1.31    1.29    0.58    0.57    0.55    1.31    1.35    1.28
21   1.28    1.26    0.55    0.55    0.53    1.28    1.32    1.25
22   1.25    1.24    0.53    0.53    0.51    1.26    1.30    1.23
23   1.24    1.22    0.52    0.51    0.50    1.25    1.28    1.21
24   1.23    1.21    0.51    0.50    0.49    1.24    1.27    1.20
25   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
26   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
27   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
28   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
29   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
30   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
31   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
32   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
33   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
34   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
35   1.23    1.21    0.51    0.50    0.49    1.23    1.27    1.20
Header :[' Year ', ' USA  ', ' CAN  ', ' WEU  ', ' JPK  ', ' ANZ  ', ' EEU  ', ' FSU  ', ' MDE  ', ' CAM  ', ' SAM  ', ' SAS  ', ' SEA  ', ' CHI  ', ' NAF  ', ' SSA  ', ' SIS  ']<class 'list'>
Saved output\fund_table_p.a2.csv
Added column AUSTRIA from WEU
Added column BELGIUM from WEU
Could not find values for BULGARIA : CEE
Could not find values for CROATIA : CEE
Added column CYPRUS from WEU
Could not find values for CZECHIA : nan
Added column DENMARK from WEU
Added column ESTONIA from FSU
Added column FINLAND from WEU
Added column FRANCE from WEU
Added column GERMANY from WEU
Added column GREECE from WEU
Could not find values for HUNGARY : CEE
Added column IRELAND from WEU
Added column ITALY from WEU
Added column LATVIA from FSU
Added column LITHUANIA from FSU
Added column LUXEMBOURG from WEU
Added column MALTA from WEU
Added column NETHERLANDS from WEU
Could not find values for POLAND : CEE
Added column PORTUGAL from WEU
Could not find values for ROMANIA : CEE
Could not find values for SLOVAKIA : CEE
Could not find values for SLOVENIA : CEE
Added column SPAIN from WEU
Added column SWEDEN from WEU
Could not find values for UK : nan
Could not find values for CHINA : nan
Could not find values for EASOC : nan
Could not find values for INDIA : nan
Could not find values for LATAM : nan
Could not find values for RUSSIA : nan
Could not find values for USMCA : nan

What i want to do : 

- have a table with the regions from WILIAM with the corresponding coefficient from the FUND model

To do so, i can: 

- create a table that has the appropriate form for WILIAM : years in lines, for example, and regions in columns
- for every value, looking for the corresponding value in the FUND table thanks to the .iloc function => something like for col in df.columns: wiliam_df.iloc[year, region] = fund_df.iloc[year, region_in_FUND, where region_in_fund = map_regions('WILIAM', 'FUND', region) is a function that maps a region from model A to model B. 


More specifically, i should

In [17]:
def map_regions(model_A, model_B, region): 
    """
    Maps a region from model A to model B using a correspondence table.

    Parameters:
    - model_A (str): Name of the source model.
    - model_B (str): Name of the target model.
    - region (str): Name of the region to be mapped.

    Returns:
    - output_region (str): Mapped region in model B.

    """

    try: 
        table = pd.read_csv(r'C:\Users\gabriel.genelot\Documents\damage-functions\WILIAM\geography\correspondance.csv')
        table.set_index(model_A, inplace=True)
        output_region = table.loc[region, model_B]
    except Exception as e:
        output_region = f'Region not found. Error: {e}'

    return output_region

In [1]:
test = """
| -    | α           | δ    | β           |
|------|-------------|------|-------------|
| USA  | 0.000120686 | 0.04 | 0.2912144   |
| CAN  | 0.000169725 | 0.04 | 0.063117456 |
| WEU  | 0.000209185 | 0.04 | 0.121209462 |
| JPK  | 1.04096E-05 | 0.04 | 0.114939831 |
| ANZ  | 0.000276264 | 0.21 | 0.116317932 |
| EEU  | 4.58675E-05 | 0.04 | 0.050081393 |
| FSU  | 4.4056E-05  | 0.04 | 0.12684268  |
| MDE  | 1.56247E-05 | 0.04 | 0.052986905 |
| CAM  | 4.4056E-05  | 0.04 | 0.12684268  |
| SAM  | 3.57676E-06 | 0.21 | 0.046527794 |
| SAS  | 0.000550631 | 0.21 | 0.204864801 |
| SEA  | 6.27064E-05 | 0.04 | 0.08572204  |
| CHI  | 0.000167734 | 0.04 | 0.114203457 |
| NAF  | 2.81278E-07 | 0.04 | 0.038346516 |
| SSA  | 0.000550631 | 0.04 | 0.204864801 |
| SIS  | 0.000426887 | 0.13 | 1.577927496 |"""

In [19]:
def FUND_to_WILIAM(table):
    """
    Converts a table from FUND format to WILIAM format based on a correspondence table.

    Parameters:
    - table: pandas DataFrame
        The input table in FUND format.

    Returns:
    - output_df: pandas DataFrame
        The converted table in WILIAM format.
    """

    correspondance_table = pd.read_csv(r'C:\Users\gabriel.genelot\Documents\damage-functions\WILIAM\geography\correspondance.csv')

    output_df = pd.DataFrame(columns=correspondance_table['Region_WILIAM'].values)

    # Clean the column names
    table.columns = table.columns.str.strip()

    # Check if the table has a 'Region' column, if so, set it as the index and transpose the table to have regions as columns
    if 'Region' in table.columns:
        correct_direction = False
        table['Region'] = table['Region'].str.strip()
        table.set_index('Region', inplace=True)
        table = table.transpose()

    # Iterate over the columns of the output table to get every column translated from FUND to WILIAM regions
    for col in output_df.columns:
        FUND_col = map_regions('Region_WILIAM', 'Region_FUND_code', col)
        try:
            output_df[col] = table[FUND_col].copy()
            output_df[col] = output_df[col].str.split('(')
            output_df[col] = output_df[col].str[0]
            print(f'Added column {col} from {FUND_col}')
        
        except Exception as e:  
            print(f'Could not find values for {col} : {FUND_col}. Error: {e}')
            output_df[col] = 0

    # Get the first column of the table (usually the year, or an important value)
    if correct_direction: 
        first_column = table.columns[0]
        output_df.insert(0, first_column, table[first_column].copy())

    return output_df

test=pd.read_csv(r'C:\Users\gabriel.genelot\Documents\damage-functions\WILIAM\df_parameters\FUND\output\table_ets.csv')


df_output = FUND_to_WILIAM(test)
df_output

Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for EASOC : Region_WILIAM
EASOC    ANZ
EASOC    JPK
EASOC    ANZ
EASOC    JPK
EASOC    SEA
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for AUSTRIA : WEU. Error: Can only use .str accessor with string values!
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for BELGIUM : WEU. Error: Can only use .str accessor with string values!
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for BULGARIA : CEE. Error: 'CEE'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for USMCA : Region_WILIAM
USMCA    CAN
USMCA    USA
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for CHINA : CHI. Error: Can only use .str accessor with string values!
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for CROATIA : CEE. Error: 'CEE'
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for DENMARK : WEU. Error: Can only use .str accessor with string values!
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for ESTONIA : FSU. Error: Can only use .str accessor with string values!
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for FINLAND : WEU. Error: Can only use .str accessor with string values!
Could not find values for FRANCE : WEU. Error: Can only use .str accessor with string values!
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for GERMANY : WEU. Error: Can only use .str accessor with string values!
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for GREECE : WEU. Error: Can only use .str accessor with string values!
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LATAM : Region_WILIAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    CAM
LATAM    SAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    CAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
LATAM    SAM
Name: Region_FUND_code, dtype: object. Error: 'DataFrame' object has no attribute 'str'
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for LROW : Region_WILIAM
LROW    CEE
LROW    NAF
LROW    SSA
LROW    FSU
LROW    FSU
       ...
LROW    MDE
LROW    NAF
LROW    MDE
LROW    SSA
LROW    SSA
Name: Region_FUND_code, Length: 87, dtype: object. Error: "['CEE', nan] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...
NaN    SIS
NaN    SEA
NaN    SIS
NaN    MDE
NaN    CEE
Name: Region_FUND_code, Length: 80, dtype: object. Error: "['CEE'] not in index"
Could not find values for nan : Region_WILIAM
NaN    SAS
NaN    WEU
NaN    SIS
NaN    SIS
NaN    SIS
      ...

,NaN,LROW,LROW,NaN,LROW,NaN,LATAM,LROW,NaN,EASOC,...,NaN,LATAM,NaN,NaN,NaN,LROW,LROW,NaN,LROW,LROW
Î±,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Î´,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Î²,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0